<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-10">
      @for(product of productList();track $index){

      <div class="col-md-12 col-lg-3 pt-2 mb-4 mb-lg-0 mt-3">
        <div class="card product-card">
          <img
            [src]="product.productImageUrl"
            class="card-img-top product-image"
            alt="Product Image"
          />
          <span class="category-badge">{{ product.categoryName }}</span>
          <div class="card-body">
            <h5 class="card-title">{{ product.productName }}</h5>
            <p class="product-price">{{ product.productPrice }}</p>
            <button class="btn add-to-cart-btn">Add to Cart</button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</div>
